<settings>
      <!--  ENFORCES ALIAS CREATION ON INDEX INITIALIZATION
            If enabled, index aliases will be created on Solr during the index initialization process.
            Default value: false
      -->
      <setting name="ContentSearch.Solr.EnforceAliasCreation" value="false" />
</settings>